*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    background-color:rgb(240, 52, 183);
    height: 60px;
}

footer{
    background-color: blueviolet;
    height: 40px;
    margin-top: 5px;
}

.main-bottom::after{
    content: "";
    display: table;
    clear: both;
}

.main-bottom{
    
    border: 8px solid rgb(0, 95, 184);
    border-left: 0;
    border-right: 0;
   
}

.main-top{
    background-color: rgb(182, 182, 26);
    height: 250px;
    margin: 15px 0;
}

.top{
    background-color: deepskyblue;
    height: 31px;
}

.main-bottom div{
    height: 250px;
    background-color: deepskyblue;
    float: left;
}

.left{
    width: 25%;
}

.right{
    width: 25%;
}

.middle{
    width: 50%;
    border: 8px solid rgb(0, 95, 184);
    border-top: 0;
    border-bottom: 0;

}